<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Remotec</title>
<link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="webapp.js"></script>
<script type="text/javascript">
var app;
$(function() {
  app = new webapp('<?php echo jsonesc($db->get('info', array())); ?>');
});
</script>
</head>
<body>
<h1>RemoteControl</h1>
<ul id="tabs">
  <li class="tab" id="emptytab">
    <div class="actions">
      <div class="refresh"><a href="index.php?action=refresh&amp;tabid=_TABID_"><span></span>Refresh</a></div>
      <div class="close"><a href="index.php?action=close&amp;tabid=_TABID_"><span></span>Close</a></div>
    </div>
    <div class="navigate">
      <form enctype="multipart/form-data" method="POST" action="index.php" name="navigateform">
        <input type="hidden" name="action" value="navigate"/>
        <input type="hidden" name="tabid" value="" class="navigateformtabid"/>
        <input type="button" value="Mod" class="modify"/>
        <input type="button" value="Cancel" class="cancel"/>
        <input type="submit" name="submit" value="Go" class="submit"/>
        <input type="text" name="url" value="" class="navigateformurl"/>
      </form>
    </div>
    <div class="title">
      <a class="link" href=""></a>
      <h2 class="heading"></h2>
      <span class="status"></span>
    </div>
  </li>
  <?php foreach($info as $data): ?>
    <li class="tab" id="tab<?php echo htmlesc($data['tabid']); ?>" data-tabid="<?php echo htmlesc($data['tabid']); ?>">
      <div class="actions">
        <div class="refresh"><a href="index.php?action=refresh&amp;tabid=<?php echo urlesc($data['tabid']); ?>"><span></span>Refresh</a></div>
        <div class="close"><a href="index.php?action=close&amp;tabid=<?php echo urlesc($data['tabid']); ?>"><span></span>Close</a></div>
      </div>
      <div class="navigate">
        <form enctype="multipart/form-data" method="POST" action="index.php" name="navigateform">
          <input type="hidden" name="action" value="navigate"/>
          <input type="hidden" name="tabid" value="<?php echo htmlesc($data['tabid']); ?>" class="navigateformtabid"/>
          <input type="button" value="Mod" class="modify"/>
          <input type="button" value="Cancel" class="cancel"/>
          <input type="submit" name="submit" value="Go" class="submit"/>
          <input type="text" name="url" value="<?php echo htmlesc($data['url']); ?>" class="navigateformurl"/>
        </form>
      </div>
      <div class="title">
        <a class="link" href="<?php echo htmlesc($data['url']); ?>"><?php echo htmlesc($data['url']); ?></a>
        <h2 class="heading"><?php echo htmlesc(@$data['title']); ?></h2>
        <span class="status"><?php echo htmlesc(@$data['status']); ?></span>
      </div>
    </li>
  <?php endforeach ?>
</ul>
</body>
</html>