body {
  margin: 0;
  padding: 0px 5px;
}
h1 {
  font-size: 18px;
  margin: 10px 0px 10px 0px;
}
#tabs #emptytab {
  display: none;
}
#tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#tabs .tab {
  margin-bottom: 5px;
  padding: 5px 0px 5px 0px;
  white-space: nowrap;
  display: block;
  position: relative;
}
#tabs .tab:nth-child(odd) {
  background-color: #eee;
}
#tabs .tab h2, #tabs .tab .link {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#tabs .tab h2 {
  font-size: 14px;
  margin: 0;
}
#tabs .tab .navigate, #tabs .tab .title, #tabs .tab .title .heading, #tabs .tab .title .link, #tabs .tab .title .status, #tabs .tab .actions {
  display: inline-block;
}
#tabs .tab .navigate.active {
  width: 90%;
}
#tabs .tab .navigate .navigateformurl {
  width: 75%;
}
#tabs .tab .navigate .navigateformurl, #tabs .tab .navigate .submit, #tabs .tab .navigate .cancel {
  display: none;
}
#tabs .tab .title {
  width: 90%;
  overflow: hidden;
  z-index: 40;
  position: relative;
}
#tabs .tab .title .heading {
  max-width: 69%;
}
#tabs .tab .title .link {
  max-width: 30%;
}
#tabs .tab .title .status {
  width: 5px;
  overflow: hidden;
}
.actions {
  float: right;
  z-index: 50;
  position: relative;
}
.refresh, .close {
  margin: 5px 5px 0px 0px;
  display: inline-block;
}
.refresh a, .refresh a span, .close a, .close a span {
  display: inline-block;
  height: 16px;
  width: 16px;
  overflow: hidden;
}
.refresh a span {
  background-image: url(arrow_refresh.png);
}
.close a span {
  background-image: url(cancel.png);
}
